    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="navbar-brand mx-auto" href="/">NoticeMe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/posts?page=1">Posts</a>
            </li>
            {{#if currentUser.role}}
            <li class="nav-item">
                <a class="nav-link" href="/users">Users</a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/explore">Explore</a>
            </li>
            <li>
                <a class="nav-link" href="/about">About</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            {{#if currentUser}}
                <li class="nav-item">
                    <a class="nav-link" href="/auth/profile">{{currentUser.username}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout">Log out</a>
                </li>
            {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Log in</a>
                </li>
            {{/if}}
        </ul>
    </div>
</nav>