<p class="text-xl-center"><b>Update Comment</b></p>
<p>
<form method="POST" action="/tmp/users/{{userId}}/posts/{{postId}}/comments/{{commentId}}/update"
      enctype="application/x-www-form-urlencoded">
    <label for="content">Content: </label><br>
    <input type="text" name="content" id="content" required="required" placeholder="Input post content"/><br>
    <input type="submit" value="Submit"/>
</form>
</p>